.bg{
    background-color: #110A3C;
    width: 95vw;
    height: 100vh;
    padding-left: 50px;
    color: aliceblue;
    padding-top: 50px;
    font-family: poppins,sans-serif!important;
    display: flex;
justify-content: space-evenly;
}
.aboutleft{
    width: 40vw;
}
.aboutright{
    width: 40vw;
}
.software{
    color: #59c378;
    font-weight: 550;
    font-size: 17px;
    padding: 20px 0;
}
.text{
    font-size: 28px;
    font-weight: 500;
    width: 30vw;
    padding: 5px 0;
}
.ten , .my{
    color: hsla(0,0%,100%,.81);
    line-height: 150%;
    padding: 8px 0;
    font-size: 15px;
}
.down{
    background-color:#59c378 ;
    padding: 22PX 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px;
}